.form_page {
  justify-content: center;
}

.authentication_form {
  width: 30%;
  margin-top: 32px;
  padding: 32px 48px;
  background-color: #fff;
}

.authentication_form h2 {
  font-size: 40px;
  margin-bottom: 24px;
  text-align: center;
}

.form_inputs div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form_inputs label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.form_text_input {
  height: 40px;
  padding: 0px 8px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

.form_submit {
  height: 40px;
  width: 100%;
  margin: 25px 0 10px 0;
}
