.quantity_input_button {
  width: 32px;
  height: 32px;
  font-size: 25px;
  font-weight: 700;
  background-color: #ff8848;
  color: #fff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.quantity_input_button:disabled {
  opacity: 0.3;
  cursor: default;
}

.quantity_input_count {
  margin: 0 40px;
  text-align: center;
}
